<html>
  <head>
    <title>Cryptocurrency Trading Simulation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../public/assets/css/cryptoflip.css">

  </head>
  <body>

   <!--header section -->
   <div class="row">
    <div class="col-md-12 bg-img" id="header">
      <h1 id="h1">crypto-currency</h1>
      <div id="login">
        <a href="#">Sign Up </a> |
        <a href="#">Sign In</a>
      </div>
    </div>
  </div>

  <div class="container">
    <h2>Transaction History</h2>
    <div class="row">
      <div class="transHistory">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Currency(BitCoin)</th>
              <th>Coins Owned</th>
              <th>Buying Power(Balance)</th>
              <th>Amt Purchased</th>
              <th>Avg Cost</th>
              <th>Equity Value($)</th>
              <th>Date/Time</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="currency">BitCoin</td>
              <td class="coinsOwned">124</td>
              <td class="buyingPower">134523</td>
              <td class="amtpurchased">123</td>
              <td class="avgCost">12345</td>
              <td class="equityValue">1234</td>
              <td class="dateTime">10-10-10 00:00:0000</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
      <!-- footer begins; information about the developers -->
      <!-- <div class="row bg-img">
        <div class="footer">
          <div class="col-md-12">
            <img class="img-fluid img-circle" src="../public/assets/images/fargin.jpg" width="60px" height="60px"/>
            <img class="img-fluid img-circle" src="../public/assets/images/anna.jpg" width="60px" height="60px"/>
            <img class="img-fluid img-circle" src="../public/assets/images/jon.jpg" width="60px" height="60px"/>
            <img class="img-fluid img-circle" src="../public/assets/images/phil.jpg" width="60px" height="60px"/>
            <div class="row">
              <div class="col-md-12">
                <div id="copyr">&copy 2017 CryptoFlip | <a href="https://github.com/Annacrespo/Cryptoflip" style="color:#fff;">Github</a></div>
              </div>
            </div>
          </div>
        </div>
      </div> -->

  </body>
  </html>
