<!DOCTYPE html>
<html>
  <head>
    <title>Cryptocurrency Trading Simulation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/handlebars.js/4.0.10/handlebars.amd.min.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="container">
      <!--header section -->
      <div class="row">
        <div class="col-lg-12">
          <header>Cryptoflip</header</head>
          <div id="sign-up-sign-in">
            <a href="#">Sign Up</a>
            <a href="#">Sign In</a>
          </div>
        </div>
      </div>

      <!--news headlines section-->
      <div class="row">
        <div class="col-lg-12">
          <!--streaming news -->
        </div>
      </div>

      <!--main body content -->
      <div class="row">
        <div class="row">
          <div class="col-lg-2">
            <button id="blah">Blah</button>
            <button id="blah">Blah</button>
            <button id="blah">Blah</button>
            <button id="blah">Blah</button>
          </div>
          <div class="col-lg-10">
            <!--display realtime data in chart using canvasjs and cryptocurrency api -->
            <!-- insert canvas js graph -->
          </div>
        </div>
        <div class="row">
          <div class="col-lg-10">
            <!--will display when player signs in-->
          </div>
        </div>
      </div>
      <!-- footer begins; information about the developers -->
      <p>&copy Cryptoflip<p>
    </div>
  </body>

</html>
