<!DOCTYPE html>
<html>
  <head>
    <title>Cryptocurrency Trading Simulation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- <script src="https://cdn.bootcss.com/handlebars.js/4.0.10/handlebars.amd.min.js"></script> -->
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../public/assets/css/cryptoflip.css">

  </head>
  <body>
      <!--header section -->
      <div class="row">
        <div class="col-sm-12" id="header">
          <h1 id="h1">crypto-currency</h1>
          <div id="login">
            <a href="#">Sign Up </a> |
            <a href="#">Sign In</a>
          </div>
        </div>
      </div>
    <div class="container">
      <!--news headlines section-->
      <div class="row">
        <div class="col-sm-12">
          <!--streaming news -->
        </div>
      </div>

      <!--main body content -->
      <div class="row">
        <div class="row">
          <div class="col-sm-2">
            <ul class="nav flex-sm-column">
              <li class="nav-item justify-content-center" ><button class="btn buttons" id="blah">blah</button></li>
              <li class="nav-item justify-content-center"><button class="btn buttons" id="blah">Blah</button></li>
              <li class="nav-item justify-content-center"><button class="btn buttons" id="blah">Blah</button></li>
              <li class="nav-item justify-content-center"><button class="btn buttons" id="blah">Blah</button></li>
            </ul>
          </div>
          <div class="col-sm-7">
            <div id="chartContainer">
              <!--display realtime data in chart using canvasjs and cryptocurrency api -->
              <!-- insert canvas js graph -->
            </div>
          </div>
        </div>

        <!--player plays game -->
        <div class="row">
          <div class="game">
            <div class="col-sm-2">
              <!--empty column -->
            </div>
            <div class="col-sm-7">
              <!--will display when player signs in-->
              <div class="play">
                <div class="row">
                  <div class="col-sm-12">
                    <ul class="nav nav-tabs">
                      <li class="nav-item"><a href="#">blah</a></li>
                      <li class="nav-item"><a href="#">blah</a></li>
                      <li class="nav-item"><a href="#">blah</a></li>
                      <li class="nav-item"><a href="#">blah</a></li>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <!-- footer begins; information about the developers -->
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div id="developers" class="col-sm-12">
            <img class="img-fluid img-circle" src="../public/assets/images/fargin.jpg" width="60px" height="60px"/>
            <img class="img-fluid img-circle" src="../public/assets/images/anna.jpg" width="60px" height="60px"/>
            <img class="img-fluid img-circle" src="../public/assets/images/jon.jpg" width="60px" height="60px"/>
            <img class="img-fluid img-circle" src="../public/assets/images/phil.jpg" width="60px" height="60px"/>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
        <div class="container text-center">
            © 2017 Copyright: Cryptoflip
        </div>
    </div>
  </footer>
    <script type="text/javascript">
        // var apikey = "d3266758730146dfa84dfa45f1865ad3";
        var queryURL = "http://api.openweathermap.org/data/2.5/forecast?id=524901&APPID=830f091ca1eb50be15e19d22fa4a4ee6";


        $.ajax({
          url: queryURL,
          method: "GET"
        }).done(function(response) {
          console.log(response);
          var dataPoints = [];
          var data = response.list;

          for (var i = 0; i < data.length; i++) {
            var x = data[i].wind["speed"];
            console.log(x);
            var y = data[i].wind["deg"];
            dataPoints.push({"x":x, "y":y});
          }
          console.log(dataPoints);

          var chart = new CanvasJS.Chart("chartContainer", {
            title: {
              text: "Rendering Chart With Datapoints"
            },
            data: [{
              type: "line",
              dataPoints:dataPoints
            }]
          })
          chart.render();
        })
    </script>
  </body>

</html>
