@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono');

.bg-img {
  background-image: url("../images/bitcoin03.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#header {
  background-color: #000;
  padding:left;
  border-bottom:0.7px #444 solid;
}

#h1 {
  float:left;
  color:#fff;
  display:inline-block;
  margin-left:15%;
  padding-bottom:15px;
  font-family: 'Droid Sans Mono';
}

.container {
  margin-top:30px;
}
/* everything buttons */
#login {
  float:right;
  margin-top:25px;
  margin-right:15%;
  padding:4px;
  color:#fff;

}
#login a {
  display:inline;
  color:#fff;
  padding:5px;
}

.btn {
  background-color: #fff;
  border:1px #000 solid;
  color:#000;
  margin:10px;

}
.btn:hover {
  background-color:#000;
  color:#fff;
}

/* buttons end here */
/* chart */

.game {
  margin:10px;
  height:200px;
  clear:left;
}

.img-circle {
  display:inline-block;
  margin:20px 30px 20px 30px;
}

.footer {
  position:fixed;
  bottom:0;
  width:100%;
  text-align:center;
}
